<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/">DEMO</a>
  

  
    <ul class="navbar-nav d-flex ml-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/members">Members</a>
      </li>
    
    
    </ul>
   
</nav>